<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory name="session">
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.url">jdbc:mysql://localhost/sollo</property>
    <property name="connection.username">root</property>
    <property name="connection.password">root</property>
    <property name="connection.pool_size">1</property>
    
    <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>

    <property name="current_session_context_class">thread</property>

    <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

    <property name="show_sql">true</property>
    <property name="connection.useUnicode">true</property>
    <property name="connection.characterEncoding">UTF-8</property>
    <property name="hbm2ddl.auto">create-drop</property>

    <mapping class="pgi.uniminas.entidades.Pessoa" />
    <mapping class="pgi.uniminas.entidades.Corretor" />
    <mapping class="pgi.uniminas.entidades.Funcionario" />
    <mapping class="pgi.uniminas.entidades.Endereco" />
    <mapping class="pgi.uniminas.entidades.Imovel" />
    <mapping class="pgi.uniminas.entidades.ImovelCom" />
    <mapping class="pgi.uniminas.entidades.ImovelOut" />
    <mapping class="pgi.uniminas.entidades.ImovelRes" />
    <mapping class="pgi.uniminas.entidades.Imovel" />
    <mapping class="pgi.uniminas.entidades.Cliente" />
    <mapping class="pgi.uniminas.entidades.Usuario" />
    <mapping class="pgi.uniminas.entidades.Contexto" />
    <mapping class="pgi.uniminas.entidades.ContextoAcao" />
    <mapping class="pgi.uniminas.entidades.UsuarioPermissao" />
    <mapping class="pgi.uniminas.entidades.Visita" />
    <mapping class="pgi.uniminas.entidades.ItemVisita" />
  </session-factory>
</hibernate-configuration>
